@model Record

<div class="notice">
    <div class="notice-item">
        <span>Day: <span class="highlight">@Model.DayNumber</span></span>
        <span>Month: <span class="highlight">@(MonthInfo.monthDictionary[Model.MonthNumber])</span></span>
    </div>
    <div class="notice-item">
        <span>Created by: <span class="highlight">
                @if (Model.GroupName != "None")
                {
                    @Model.GroupName
                }
                else
                {
                    @(Model.CreaterUserName)
                }
        </span></span>
    </div>
    <div class="notice-item">
        <span>For user: <span class="highlight">@Model.RelatedUserName</span></span>
    </div>
    <div class="notice-item">
        <span>Importance: <span class="highlight">@Model.Importance</span></span>
    </div>
    <div class="notice-item">
        <div class="notice-title">
            <h2>@Model.RecordName</h2>
        </div>
        <div class="notice-content">
            <p class="limited-width">
                @Model.RecordString
            </p>
        </div>
    </div>
</div>

