@model Record

<div class="card card-outline-primary m-1 p-1" style="width: 400px;">
    <div>
        Day: @Model.DayNumber, Month: @(MonthInfo.monthDictionary[Model.MonthNumber])
    </div>
    <div>
        Created by:
        @if(Model.GroupName != "None")
        {
            @Model.GroupName
        }
        else
        {
            @(Model.CreaterUserName)
            <div>for user: @Model.RelatedUserName</div>
        }
    </div>
    <div>
        Importance: @Model.Importance
    </div>
    @if(Model.Time.Hours != 0 && Model.Time.Minutes != 0)
    {
        <div>Time: @Model.Time.Hours : @Model.Time.Minutes</div>
    }
    <div>
        @Model.RecordName
    </div>
    <div>
        @Model.RecordString
    </div>
</div>