@page "/addfriends"
@model AddFriendModel


<div>
    <form method="get" asp-page="/addfriends"  asp-route-parameterName="">
         <label>Provide friend name</label>
         <input class="form-control" name="UserName" />
         <button type="submit" class="btn btn-info mt-2">Search</button>
    </form>
</div>

@foreach(string u in Model.UsersNames)
{
    <div class="card card-outline-primary m-1 p-1">
        <div class="bg-faded p-1">
            <h4>
                @u
            </h4>
        </div>

        <form id="@u" method="post">
            <input type="hidden" asp-for="@Model.FriendUserName" value="@u"/> 
            <span class="card-text p-1">
                <button type="submit" class="btn btn-success btn-sm pull-right" style="float:right">
                    Add To Friends
                </button>
            </span>
        </form>
    </div>
}

<div>
    <ul class="pagination">
        @for (int tpage = 1; tpage <= Model.TotalPages; tpage++)
        {
            <li class="page-item @(tpage == Model.CurrentPage ? "active" : "")">
                <a class="page-link" href="/addfriends?tpage=@tpage">@tpage</a>
            </li>
        }
    </ul>
</div>