@page "/"
@model MainTableModel



<div>
    <table class="table table-sm table-striped table-bordered">
    <thead>
        <tr>
            <th>GroupName</th>
        </tr>
    </thead>
    <tbody>
            @if(Model.GroupList.Count() == 0)
            {
                <tr><th>No groups</th></tr>
            }
            else
            {
                @foreach(string s in Model.GroupList)
                {
                    <tr>
                        <td>@s</td>
                    </tr>
                }
            }
        </tbody>
</table>
</div>

<div>
    <a class="btn btn-primary mt-2" href="creategroup">Create Group</a>
    <a class="btn btn-primary mt-2" href="joingroup">Join Group</a>
</div>


<div class="mt-2">
    <h2>Friend list</h2>
    @if(Model.FriendList.Count() == 0)
    {
        <h1>No Friends</h1>
    }
    else
    {
        @foreach(string s in Model.FriendList)
        {
            @s
            <form method="post">
                <button type="submit" class="btn btn-info  btn-sm" asp-page-handler="GetInfoAboutFriend" asp-route-arg1="@s">Get Info</button>
                <button type="submit" class="btn btn-danger btn-sm" asp-page-handler="RemoveFriend" asp-route-FriendName="@s">Remove</button>
            </form>
        }
    }
</div>

<div>
    <a class="btn btn-primary mt-2" href="addfriends">Add Friends</a>
</div>

<div class="mt-2">
    <h2 class="alert-info">Invite List</h2>
            @if(Model.InviteList.Count() == 0)
            {
                <h1>No Invites</h1>
            }
            else
            {
                @foreach(FriendInvite s in Model.InviteListRaw)
                {
                        @s
                        <form method="post">
                            <button type="submit" class="btn btn-info btn-sm" asp-page-handler="AddFriend" asp-route-invite="@s">Add</button>
                            <button type="submit" class="btn btn-danger btn-sm" asp-page-handler="RejectFriend" asp-route-invite="@s">Reject</button>
                        </form>
                }
            }
</div>

<div>
    <a class="btn btn-secondary mt-2" href="logout">Log Out</a>
</div>

@functions{

    public class MainTableModel: UserPageModel
    {
        public UserManager<IdentityUser> UserManager;
        public HttpClient Http;
        public MonthBase Month;
        public DataContext Context;

        public MainTableModel(UserManager<IdentityUser> usrManager, IHttpClientFactory httpClientFactory, DataContext ctx)
        {
            UserManager = usrManager;
            Context = ctx;
            Month = new MonthBase()
            {
                MonthNumber = DateTime.Today.Month,
                DayAmount = MonthBase.monthDays[DateTime.Now.ToString("MMMM")],
                Meetings = new List<Record>()
            };
        }


        public List<string> GroupList = new List<string>();
        public List<string> FriendListRaw = new List<string>();
        public List<string> FriendList = new List<string>();
        public List<FriendInvite> InviteListRaw = new List<FriendInvite>();
        public List<string> InviteList = new List<string>();

        public async Task OnGetAsync()
        {
            IdentityUser user = await UserManager.FindByNameAsync(HttpContext.User.Identity.Name);

            //GroupList
            GroupList = Context.GroupRecords.Where(obj => obj.UserIdThatBelongsToGroup == user.Id).Select(obj => obj.GroupNameThatRecordBelong).ToList();

            //FriendList
            FriendListRaw = Context.userFriendLists.Where(obj => obj.MainUserId == user.Id || obj.FriendUserId == user.Id).
                Select(obj => obj.FriendUserId == user.Id ? obj.MainUserId : obj.FriendUserId).ToList();

            foreach (string id in FriendListRaw)
            {
                IdentityUser tempUser = await UserManager.FindByIdAsync(id);
                FriendList.Add(tempUser.UserName);
            }

            //InviteList
            InviteListRaw = Context.InviteList.Where(obj => obj.FriendUserName == user.Id).ToList();

            foreach (FriendInvite friend in InviteListRaw)
            {
                string id = friend.MainUserId;
                IdentityUser userTemp = await UserManager.FindByIdAsync(id);
                InviteList.Add(userTemp.UserName);
            }

        }

        public async Task<IActionResult> OnPostAddFriendAsync(FriendInvite invite)
        {
            IdentityUser tempUserLocal = await UserManager.FindByNameAsync(HttpContext.User.Identity.Name);

            var checkIfAnyInvites = Context.InviteList.Where(obj => obj.MainUserId == invite.FriendUserName && obj.FriendUserName == tempUserLocal.UserName);

            if (!checkIfAnyInvites.Any())
                return StatusCode(400);

            Context.InviteList.Remove(invite);

            UserFriendList tempFriendRecord = new UserFriendList
            {
                    MainUserId = invite.MainUserId,
                    FriendUserId = tempUserLocal.Id
            };
            await Context.userFriendLists.AddAsync(tempFriendRecord);

            await Context.SaveChangesAsync();

            return RedirectToPage();
        }

        public async Task<IActionResult> OnPostRejectFriendAsync(FriendInvite invite)
        {
            IdentityUser tempUserLocal = await UserManager.FindByNameAsync(HttpContext.User.Identity.Name);

            var checkIfAnyInvites = Context.InviteList.Where(obj => obj.MainUserId == invite.FriendUserName && obj.FriendUserName == tempUserLocal.UserName);

            if (!checkIfAnyInvites.Any())
                return StatusCode(400);

            Context.InviteList.Remove(invite);

            await Context.SaveChangesAsync();

            return RedirectToPage();
        }

        public async Task<IActionResult> OnPostRemoveFriendAsync(string FriendName)
        {
            IdentityUser tempUserLocal = await UserManager.FindByNameAsync(HttpContext.User.Identity.Name);
            IdentityUser tempUserFriend = await UserManager.FindByNameAsync(FriendName);

            UserFriendList tempRecord = Context.userFriendLists.Where(obj => (obj.MainUserId == tempUserLocal.Id && obj.FriendUserId == tempUserFriend.Id)
                       || (obj.MainUserId == tempUserFriend.Id && obj.FriendUserId == tempUserLocal.Id)).First();

            Context.userFriendLists.Remove(tempRecord);
            await Context.SaveChangesAsync();

            return RedirectToPage();
        }
        
        public async Task<IActionResult> OnPostGetInfoAboutFriendAsync(string arg1)
        {
            

            return RedirectToPage();
        }
    }
}