@page "/"
@model MainTableModel

<header>
    <div class="header-container">
        <h1 class="text-light">@HttpContext.User.Identity.Name</h1>
        <h1 class="center-header text-white">That's time!</h1>
        <a class="left-link right-header btn btn-danger" href="logout">Log Out</a>
    </div>
    <script>
        function toggleSelect() {
            var checkBox = document.getElementById('checkBox');
            var selectBox = document.getElementById('selectBox');

            if (checkBox.checked) {
                // Change the select options when the checkbox is checked
                selectBox.innerHTML = `
                    @foreach(string s in Model.GroupList)
                        {
                            <option value="@(string.Concat("Group/$/", s))">@s</option>
                        }
                `;
            } else {
                // Restore the original select options when the checkbox is unchecked
                selectBox.innerHTML = `
                    @foreach(string s in Model.FriendList)
                        {
                            <option value="@s">@s</option>
                        }
    `;
            }
        }
        function toggleInputs() {
            var checkbox = document.getElementById("showInputsCheckbox");
            var inputFields = document.getElementById("inputFields");

            if (checkbox.checked) {
                inputFields.style.display = "block";
            } else {
                inputFields.style.display = "none";
            }
        }
    </script>
</header>

<div class="container">
    <div class="uinfo-block">
        <h2>Your Friends</h2>
        <div class="section">
            <ul class="list">
                @if(Model.FriendList.Count() == 0)
                {
                    <h1 style="font-size: 24px;">No Friends</h1>
                }
                else
                {
                    @foreach(string s in Model.FriendList)
                    {
                        <h1 style="font-size: 24px;">@s</h1>
                        <div class="mt-2">
                            <form method="post">
                                <button type="submit" class="btn btn-info  btn-sm" asp-page-handler="GetInfoAboutFriend" asp-route-arg1="@s">Get Info</button>
                                <button type="submit" class="btn btn-danger btn-sm" asp-page-handler="RemoveFriend" asp-route-FriendName="@s">Remove</button>
                            </form>
                        </div>
                    }
                }
            </ul>
        </div>
        <a class="btn btn-primary mt-2" href="addfriends">Add Friends</a>

        <h2 class="mt-3">Your Groups</h2>
        <div class="section">
            @if(Model.GroupList.Count() == 0)
            {
                    <ul class="list group-list">
                        <li class="list-item">No groups</li>
                    </ul>
            }
            else
            {
                @foreach(string s in Model.GroupList)
                {
                    <ul class="list">
                        <li style="font-size: 24px">@s</li>
                        <form method="post">
                            <button type="submit" class="btn btn-info btn-sm" asp-page-handler="LeaveGroup" asp-route-groupname="@s">Leave</button>
                        </form>
                    </ul>

                }
            }
        </div>
        <a class="btn btn-primary mt-2" href="creategroup">Create Group</a>
        <a class="btn btn-primary mt-2" href="joingroup">Join Group</a>

        <h2 class="mt-3">Friend Requests</h2>
        <div class="section">
            <ul class="list">
            @if(Model.InviteList.Count() == 0)
            {
                <h1 style="font-size: 24px;">No Invites</h1>
            }
            else
            {
                @foreach(string s in Model.InviteList)
                {
                        @s
                        <form method="post">
                            <button type="submit" class="btn btn-info btn-sm" asp-page-handler="AddFriend" asp-route-friendname="@s">Add</button>
                            <button type="submit" class="btn btn-danger btn-sm" asp-page-handler="RejectFriend" asp-route-friendname="@s">Reject</button>
                        </form>
                }
            }
            </ul>
        </div>
    </div>
    <div class="left mt-4">
        <h1>Selected Month: @(MonthInfo.monthDictionary[(int)HttpContext.Session.GetInt32("SelectedMonth")])</h1>
        <table class="mt-2">
            @{
                int? daysInMonth = HttpContext.Session.GetInt32("DayAmount");
                int currentDay = 1;
                int daysInWeek = 7; // Number of days in a week
            }
            @while (currentDay <= daysInMonth)
            {
                <tr>
                    @for (int i = 0; i < daysInWeek; i++)
                    {
                        if(currentDay == Model.Month.CurrentDay)
                        {
                            <td class="highlighted-cell">                                
                                <form method="post">
                                    <button type="submit" class="text-warning" asp-page-handler="getdayinfo" asp-route-daynumber="@Model.Month.CurrentDay">
                                        @(currentDay <= daysInMonth ? currentDay.ToString() : "")
                                    </button>
                                </form>
                            </td>
                        }
                        else
                        {
                            if(currentDay <= daysInMonth)
                            {
                            <td>
                                <form method="post">
                                        <button type="submit" class="text-info" asp-page-handler="getdayinfo" asp-route-daynumber="@(currentDay.ToString())">
                                        @(currentDay <= daysInMonth ? currentDay.ToString() : "")
                                    </button>
                                </form>
                            </td>
                            }
                            
                        }
                        currentDay++;
                    }
                </tr>
            }
        </table>
        <form method="post">
            <button type="submit" class="left-arrow-button mt-2" asp-page-handler="prevmonth"></button>
            <button type="submit" class="arrow-button mt-2" asp-page-handler="nextmonth"></button>
            <button type="submit" class="btn btn-info btm-sm" asp-page-handler="getdayinfo" asp-route-daynumber="99">Show all records</button>
        </form>
        <div>
            @if(HttpContext.Session.GetInt32("SelectedDay") > 31)
            {
                <h1>Day is not selected</h1>
            }
            else
            {
                <h1>Selected day: @HttpContext.Session.GetInt32("SelectedDay")</h1>
                <form method="post">
                    <span asp-validation-for="RecordCreateError" class="text-danger"></span>
                    <div>
                        <input type="checkbox" id="checkBox" onclick="toggleSelect()" /> Mark the checkbox to create record for the group.
                    </div>
                    <select id="selectBox" asp-for="FriendName" class="form-control">
                        @foreach(string s in Model.FriendList)
                        {
                            <option value="@s">@s</option>
                        }
                    </select>
                    <label>Select importance</label>
                    <select asp-for="Importance" class="form-control mt-2">
                        <option value="veryimportant">Very important</option>
                        <option value="important">Important</option>
                        <option value="notimportant">Not Important</option>                        
                    </select>

                    <input type="checkbox" id="showInputsCheckbox" onchange="toggleInputs()">
                    <label for="showInputsCheckbox">Enter Time</label>
                     <div id="inputFields" style="display: none;">
                        <label>Enter hour:</label>
                        <input class="integer-input" type="number" asp-for="Hours" id="inputField1" step="1" inputmode="numeric" />
                        <label>Enter minutes:</label>
                        <input class="integer-input" type="number" asp-for="Minutes" id="inputField2" step="1" inputmode="numeric"/>
                    </div>

                    <div class="form-group">
                        <label>Record name</label>
                        <input class="form-control" asp-for="RecordName" />
                    </div>
                    <div class="form-group">
                        <label>Record content</label>
                        <input class="form-control" asp-for="RecordDis" />
                    </div>
                    <button type="submit" class="btn btn-warning mt-3" asp-page-handler="createrecord">Create Record</button>
                </form>
            }
        </div>
    </div>
</div>

 <div>
    @foreach (var tempRec in Model.RecordsList ?? Enumerable.Empty<Record>())
    {
        @if (HttpContext.Session.GetInt32("SelectedDay") > 31)
        {
            <div>
                @{
                    await Html.RenderPartialAsync($"RecordSummary", tempRec);
                }
            </div>
        }
        else if(HttpContext.Session.GetInt32("SelectedDay") == tempRec.DayNumber)
        {
            <div>
                @{
                    await Html.RenderPartialAsync($"RecordSummary", tempRec);
                }
            </div>
        }
    }
</div>